<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search" method="post">
        <input type="text" name="username">
        <button type="submit">검색</button>
    </form>
    <!-- 검색했을 때 가져오는 유저  -->
<% if(searcheduser!=null&&searcheduser.email==user.email){ %>
<p>본인입니다</p>
    <% } %>    
<% if(searcheduser!=null&&searcheduser.email!=user.email){ %>   
    <a href="/post?email=<%= searcheduser.email %>"><img style="width:100px; height:100px;" src="/profiles/<%=searcheduser.profile%>"></a>
    <br>
    email:<%= searcheduser.email %>
    팔로잉:<%= searcheduser.followin.length %> 
    팔로워:<%= searcheduser.follower.length %>
    
    <br>
    
    
    <% if(user.followin.includes(searcheduser.email)){ %>
         
        <form id="1" method="post" action="/user/unfollow?email=<%= searcheduser.email %>">
            <a href="javascript:{}" onclick="document.getElementById('1').submit();" class="noneunderline">언팔로우</a>
        </form> 
        
        <% } else { %>
            <form id="2" method="post" action="/user/follow?email=<%= searcheduser.email %>">
                <a href="javascript:{}" onclick="document.getElementById('2').submit();" class="noneunderline">팔로우</a>
            </form> 
            <br>
            <% if(!user.block.includes(searcheduser.email)){ %>
            <a href="/user/block?email=<%= searcheduser.email %>">차단</a> 
            <% } else {%>
            <a href="/user/unblock?email=<%= searcheduser.email %>">차단해제</a>   
                <% } %>
        <% } %>
    
<% } %>

</body>
</html>  
    
    
    
  


